*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  overflow: hidden;
  height: 100%;
  /* 12px with default settings */
  font-size: 75%;
  --full-image: 240px;
}

.lightTheme {
  --text-base: #333;
  --text-contrasted: #222;
  --accent-background: #3a8ad3;
  --accent-dim-background: #d9dbde;
  --background-base: #fff;
  --background-toolbar: #fbfbfb;
  --border-color-main: #e6e6e6;
}

.darkTheme {
  --text-base: #A7ACB2;
  --text-contrasted: #d9dde3;
  --accent-background: #435DAD;
  --accent-dim-background: #494c64;
  --background-base: #20242E;
  --background-toolbar: #272B35;
  --border-color-main: #3d4354;
}

body {
  display: flex;
  height: 100%;
  align-items: stretch;
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--text-base);
  background-color: var(--background-base);
}

main {
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.svgWrapper > svg {
  fill: var(--svg-fill, currentColor);
  stroke: var(--svg-stroke, none);
  color: var(--svg-color, currentColor);
}

.Sidebar {
  box-sizing: content-box;
  flex: 0 0 calc(var(--full-image) + 12px);
  border: solid var(--border-color-main);
  border-width: 0 0 0 1px;
  background-color: var(--background-base);
}

.Sidebar[hidden] {
  display: none;
}

@media (orientation: landscape) and (max-width: 540px) {
  :root {
    --full-image: 160px;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
  .Sidebar {
    border-width: 1px 0 0;
  }
}

.Toolbar {
  display: flex;
  padding: 1px 2px;
  border-bottom: solid 1px var(--border-color-main);
  color: var(--text-contrasted);
  background-color: var(--background-toolbar);
}

.Toolbar-search {
  border: none;
  width: 20em;
  height: 100%;
  padding: 3px 6px;
  max-width: 100%;
  color: inherit;
  background: transparent;
}

.Toolbar-search:focus {
  outline: dotted 1px;
}

.Toolbar-styles {
  display: flex;
  margin-left: auto;
}

.Toolbar-styles span {
  display: inline-block;
  padding: 4px 6px;
  line-height: 1;
}

.Toolbar-styles button {
  padding: 2px 4px;
  border: none;
  border-radius: 3px;
  line-height: 1;
  color: inherit;
  background: transparent;
}

.Toolbar-styles button:focus {
  outline: dotted 1px;
}

.Toolbar-styles button[aria-selected="true"] {
  background-color: var(--accent-dim-background);
}

.Toolbar-styles svg {
  vertical-align: top;
  fill: var(--svg-fill);
  stroke: var(--svg-stroke);
}

.Content-placeholder {
  padding: 40vh 20px;
  text-align: center;
}

.Content-placeholder:not(:only-child) {
  display: none;
}

.Header {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 6px;
  font: inherit;
  line-height: 1;
  background-color: var(--background-toolbar);
  border: solid var(--border-color-main);
  border-width: 1px 0;
}

section:first-child .Header {
  border-top-width: 0;
}

.Header > span {
  white-space: nowrap;
}

.Header-type {
  margin-right: 1em;
}

.Header-url {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-family: monospace, monospace;
  font-size: .9rem;
  opacity: .75;
}

.ImageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 4px;
}

.ImageList > li {
  margin: 2px;
  list-style: none;
}

.ImageList-icon {
  border: solid 1px rgba(0, 0, 0, .05);
}

.ImageList-icon.selected {
  border-color: var(--accent-background);
  background-color: var(--accent-dim-background);
}

.ImageList-icon > svg {
  width: 48px;
  height: 48px;
  vertical-align: top;
}

.ImageFull {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.ImageFull-frame {
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  width: calc(var(--full-image) + 12px);
  height: calc(var(--full-image) + 12px);
  overflow: hidden;
  padding: 6px;
  color: #000;
  background-color: #fafafa;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(238,238,238)" width="24" height="24"><rect x="0" y="0" width="12" height="12"></rect><rect x="12" y="12" width="12" height="12"></rect></svg>');
  background-size: 24px 24px;
  background-position: -6px -6px;
  fill: url("#devtools-svg-gradient1");
}

.ImageFull-frame::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: solid 1px var(--accent-background);
  opacity: .5;
}

.ImageFull-frame > svg {
  width: var(--full-image);
  height: var(--full-image);
  vertical-align: top;
}

.ImageFull-info {
  flex-grow: 1;
}

.ImageFull-info table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

.ImageFull-info td {
  padding: 2px 6px;
  border: solid 1px var(--border-color-main);
}

.ImageFull-info td:first-child {
  width: 5em;
  border-left: none;
}

.ImageFull-info td:last-child {
  border-right: none;
}

@media (orientation: portrait) {
  .ImageFull {
    flex-direction: row;
  }
  .ImageFull-frame {
    max-width: 50%;
  }
}
